<h2>Element Detail</h2>
<p>
  ID: {{ getValue(input.data, input.procesar.idField) }}
</p>
<p>
  Name: {{
    getValue(input.data, input.procesar.nameField)
  }}
</p>
<p *ngIf="readOnly" class="disconnected-message">
  <strong>Read Only state!</strong><br/>
  You cannot edit this item because you are not connected to an online session.
</p>
<ngs-code-editor
  theme="vs-dark"
  [codeModel]="codeModel"
  [options]="options"
  [readOnly]="readOnly"
  (valueChanged)="save($event)">
</ngs-code-editor>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
