<div fxLayout="row wrap"  fxLayoutAlign="space-around" fxFlexFill>
  <div fxLayout="column" class="mt-2">
    <h2>Start a new process</h2>
    <mat-vertical-stepper linear="true" class="procesar-stepper" #stepper>
      <mat-step editable="false" [stepControl]="registerFormGroup">
        <form [formGroup]="registerFormGroup" novalidate>
          <ng-template matStepLabel>Fill out your YAML URL repository</ng-template>
          <mat-form-field class="form-field-full-width">
            <mat-label>URL</mat-label>
            <input matInput placeholder="https://example.com/yamls" formControlName="url" required>
            <mat-hint>This URL have to respond a list of YAMLs by method GET.</mat-hint>
          </mat-form-field>
          <mat-form-field class="form-field-full-width mt-1">
            <mat-label>Items Field</mat-label>
            <input matInput placeholder="items" formControlName="itemsField" required>
            <mat-hint>Response field that list items. Example: items</mat-hint>
          </mat-form-field>
          <div class="mt-2">
            <button mat-button (click)="register()">Load now</button>
          </div>
        </form>
      </mat-step>
      <mat-step editable="false">
        <ng-template matStepLabel>Load data from repository</ng-template>
        <app-configure-form [cancelLoading]="cancelLoading" [registrar]="registrar"></app-configure-form>
        <button mat-button *ngIf="registrar" (click)="reset()">Reset</button>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div fxLayout="column" class="mt-2" style="min-width: 360px;" *ngIf="featureService.isEnabled('onlineSession')">
    <h2>Get into a online session</h2>
    <form [formGroup]="onlineSessionFormGroup" novalidate>
      <mat-form-field class="form-field-full-width">
        <mat-label>Session ID</mat-label>
        <input matInput placeholder="123456789" formControlName="id" required>
        <mat-hint>Id of an existent online session where you wanna connect.</mat-hint>
      </mat-form-field>
      <div class="mt-2 mb-2">
        <button mat-button (click)="loadOnlineSession()" *ngIf="!loadingSession">
          Load now
        </button>
        <mat-spinner *ngIf="loadingSession" diameter="20"></mat-spinner>
      </div>
      <app-configure-form *ngIf="loaded" [registrar]="true" [cancelLoading]="cancelLoading" [readOnly]="true"></app-configure-form>
    </form>
  </div>
</div>
