.filter {
  max-width: 300px;
  width: 100%;
}

.full-progress-bar {
  width: 100%;
  max-width: 1500;
}

table {
  max-width: 1600px;
  width: 100%;
  white-space: normal;

  td {
    overflow-wrap: break-word;
    padding: 15px;
  }

  .mat-column-action {
    width: 32px;
    text-align: center;
  }

  .mat-column-id {
    max-width: 150px;
  }

  .table-title {
    font-size: 18px;
  }
}

ngs-code-editor {
  height: 500px;
}
