<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="center" class="mt-2">
    <app-items-progress-bar class="full-progress-bar px-4" *ngIf="_onlineSession.procesar.progressField"></app-items-progress-bar>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="mt-2">
    <div fxLayout="column" class="filter">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Example. my-name-is" #input>
      </mat-form-field>
    </div>
    <div fxLayout="column" class="mx-1">
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-raised-button color="warn" (click)="goToHome()" matTooltip="It will clear all your current load" class="mr-1">
          Start again
        </button>
        <app-online-session></app-online-session>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="mt-2">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
      <caption class="mx-1 table-title">List of items</caption>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef id="idElement"> ID </th>
        <td mat-cell *matCellDef="let element"> {{ getValue(element, this._onlineSession.procesar.idField) }} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef id="nameElement"> Name </th>
        <td mat-cell *matCellDef="let element"> {{ getValue(element, this._onlineSession.procesar.nameField) }} </td>
      </ng-container>
      <ng-container *ngFor="let customField of _onlineSession.procesar.customFields; let i = index" [matColumnDef]="customField.key">
        <th mat-header-cell *matHeaderCellDef [id]="i"> {{ customField.displayName }} </th>
        <td mat-cell *matCellDef="let element"> {{ getValue(element, customField.key) }} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef id="actionElement"> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" (click)="openDetail(element)">
            Detail
          </button>
          <button mat-button color="primary" (click)="openLocalEdit(element)" *ngIf="isLocalEditionEnabled()">
            Local edit
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>
</div>

