.filter {
  max-width: 300px;
  width: 100%;
}

table {
  max-width: 1200px;
  width: 100%;
}

.mat-column-action {
  width: 32px;
  text-align: center;
}

.mat-column-id {
  max-width: 80px;
}

ngs-code-editor {
  height: 400px;
}

.table-title {
  font-size: 18px;
}
