/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mt-1 { margin-top: 10px; }
.mt-2 { margin-top: 20px; }

.mb-2 { margin-bottom: 20px; }

.ml-2 { margin-left: 10px !important; }

.mr-1 { margin-right: 10px !important; }

.mx-1 { margin-top: 10px; margin-bottom: 10px; }

.pr-1 { padding-right: 10px; }

.px-4 { padding-left: 40px; padding-right: 40px; }
